@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mitr/v9/pxiEypw5ucZF8ZcaFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mitr/v9/pxiLypw5ucZFyTs.ttf) format('truetype');
}
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mitr/v9/pxiEypw5ucZF8c8bFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mitr/v9/pxiEypw5ucZF8eMcFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mitr/v9/pxiEypw5ucZF8YcdFJA.ttf) format('truetype');
}
